/* Global Variables */
:root {
    --blue: #2596be;
    --yellow: #e6dc48;
    --red: #d13035;
}

/* Everything */
* {
    font-family: "Trebuchet MS", Tahoma, sans-serif;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color: darkslategrey;
}

h1 {
    text-align: left;
    font-size: xxx-large;
    padding-bottom: 20px;
    line-height: 70px;

}

h2 {
    text-align: left;
    font-size: x-large;
    color: rgb(255, 255, 255);
    font-style: normal;
}

h3 {
    text-align: left;
    font-size: medium;
    color: bisque;
    font-style: normal;
}

h4 {
    color: rgb(202, 202, 202);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #333333;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.navtab {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navtab:hover {
    color: var(bisque);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 130px 20px;
    text-align: center;
    margin-top: 80px;
}

.edu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #6d9266;
    border-radius: 15px;
    width: 900px;
    min-height: 180px;
    margin: 20px auto;
    transition: transform 0.3s;
}

.edu-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 60px;
}

.date {
    text-align: right;
    color: darkslategrey;
}

.main-photo {
    width: 400px;
    border-radius: 15px;
}

.about-wrapper {
    padding-left: 175px;
}


.info-box {
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
    flex-grow: 1;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
    padding: 20px;
}

.social-icon {
    filter: invert(1);
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.school-logo {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    align-self: flex-start;
    transition: transform 0.3s;
}

.school-logo:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.degree {
    font-size: x-large;
}

.email {
    color: bisque; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 500px;
    max-width: 600px;
    background-color: #6d9266;
    padding: 30px;
    border-radius: 15px;
    margin: 20px auto;
}

label {
    font-size: large;
    color: white;
    text-align: left;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: bisque;
    color: #333;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    background-color: var(--blue);
    color: white;
    padding: 12px;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

button:hover {
    background-color: bisque;
    transform: scale(1.025);
}

.footer {
    padding: 20px;
    background-color: #333333;
    text-align: center;
    color: rgb(255, 255, 255);
}

.foot-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.foot-header {
    text-align: center;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: bisque;
    color: black;
    padding: 10px 20px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: rgb(204, 182, 155);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: bisque;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 35px;
}

.close {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff0000;
}

.modal-body {
    padding: 20px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
    margin-top: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    cursor: pointer;
    background-color: #6d9266;
    border-radius: 35px;
    padding: 20px;
    transition: transform 0.3s;
    width: 100%;
    max-width: 350px;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.project:hover {
    transform: translateY(-10px);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.project h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    
}

.project p {
    font-size: 16px;
    color: white;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
    margin-top: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.skill {
    background-color: #6d9266;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;

}

.skill:hover {
    transform: translateY(-10px);

}

.skill h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.skill p {
    font-size: 16px;
    color: white;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skill img {
    mix-blend-mode: multiply;
}

/* Responiveness for Small Screens */
@media (max-width: 768px) {
    .edu-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: auto;
        width: 300px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: left;
    }

    .main-photo {
        margin: 0 auto 15px;
        display: block;
        width: 300px;
        border-radius: 15px;
    }

    .school-logo {
        margin: 0 auto 15px;
        display: block;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 400px;
        padding-top: 60px;
        padding-left: 0px;
    }

    .info-box {
        text-align: center;
    }

    .about-wrapper h1,
    .about-wrapper h3 {
        text-align: left;
    }

    form {
        width: 90%;
        max-width: 400px;
    }

    input, textarea, button {
        font-size: medium;
    }

    h3 {
        max-width: 400px;
    }

    .project-list {
        grid-template-columns: 1fr;
    }

    .skills-list {
        grid-template-columns: 1fr;
    }
}